
.trm-popup-form-frame {
    background: #00283A;
}
.trm-order .trm-popup-content .trm-popup-form-frame {
    padding: 20px 40px;
}
.fancybox__content {
    padding: 0;
}
.fancybox__container :focus {
    outline: 0;
}
.fancybox__nav {
    display: none;
}